.section.call-to-action
  h2.section__title Rejoignez-nous
  p.call-to-action__subtitle Seul, en famille ou entre amis, nous vous attendons
  = link_to "Reserver mon séjour", "/reservation.html", class: "btn btn--secondary"