// ============================================================================
// Blog
// ============================================================================

// Styles for the list of articles
// ------------------------------------
.blog__list{
  
  &__item{
    border-bottom: 1px solid $color-primary;
  }

  &__title{
    @extend h3;
  }

  &__link{
    color: $color-primary;
  }

  &__img{
    text-align: center;
  }

  &__excerpt{

  }
}