// ============================================================================
// Call to action
// ============================================================================

// Styles for call to action block
// ------------------------------------
.call-to-action{
  background: url("/images/backgrounds/fire.jpg") no-repeat #ACAEAC;
  background-size: 100%; 
  text-align: center;
}