---
title: "Mentions légales"
title_seo: "Mentions légales"
description: "Mentions légales"
hero_image: tente-bivouac.jpg
---
div role="main"
  
  = partial "partials/header"

  .section
    .wrapper
      .section__content--large
        markdown:
          ## Objet du site
          [Nowifisummercamp.fr](http://nowifisummercamp.fr) est un site internet réprésentant une société fictive nommée No Wifi Summercamp. Il est réalisé dans le cadre d'un tutoriel expliquant comment créer un site internet avec Middleman.

          Le tutoriel est disponible sur le site internet de [Samuel Bourdon](http://samuelbourdon.com/):

          * [Installation de Middleman et des gems](http://samuelbourdon.com//tuto-middleman-installer-middleman/)
          * [Comment organiser ses données sans base de données](http://samuelbourdon.com//tuto-middleman-organiser-ses-donnees/)
          * [Créer le layout et les partials](http://samuelbourdon.com//tuto-middleman-utiliser-les-layouts-et-partials/)
          * [Création des pages du site](http://samuelbourdon.com//tuto-middleman-creation-des-pages/)
          * [Intégrer le blog, les catégories, articles en markdown et commentaires](http://samuelbourdon.com//tuto-middleman-ajouter-un-blog/)
          * [Intégration du design en CSS depuis le styleguide](http://samuelbourdon.com//tuto-middleman-ajouter-un-peu-de-css/)
          * [Build du site et déploiement sur Github Pages](http://samuelbourdon.com//tuto-middleman-deployer_son_site/)

          ## Edition
          Le site est édité par [Samuel Bourdon](http://samuelbourdon.com) et est hébergé gratuitement sur [Github Pages](http://github.io).

          ## License d'utilisation
          
          ### Code source
          Le code source du site est sous [licence MIT](http://opensource.org/licenses/MIT), les sources sont disponibles sur le [dépôt github du projet](https://github.com/nowifisummercamp/nowifisummercamp.github.io)

          ### Images
          Les images du site sont tours issues du site internet [Pixabay](https://pixabay.com) et sont sous licence [Creative Commons Deed CC0](https://creativecommons.org/publicdomain/zero/1.0/deed.fr)

